html,
body {
    height: 100%;
}

body {
    background: #9CECFB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.h100 {
    height: 100%;
}

.card-signin {
    border: 0;
    border-radius: 32px!important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 24px;
}

.card-signin .card-body {
    padding: 32px;
}

.form-signin {
    width: 100%;
}

.form-signin .btn-spec {
    font-size: 80%;
    border-radius: 80px;
    letter-spacing: 1.6px;
    font-weight: bold;
    padding: 16px;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 16px;
}

.form-label-group input {
    border-radius: 32px;
}

.nav-item {
    padding: 5px!important;
}

.m50 {
    margin: 50px 0;
}

.margintopbot {
    padding: 10px;
    margin: auto 0;
}

div.pagination {
    padding:20px;
    margin:7px;
}
div.pagination a {
    margin: 2px;
    padding: 0.5em 0.64em 0.43em 0.64em;
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
}
div.pagination a:hover, div.pagination a:active {
    padding: 0.5em 0.64em 0.43em 0.64em;
    margin: 2px;
    background-color: #007bff;
    color: #fff;
}
div.pagination span.current {
    padding: 0.5em 0.64em 0.43em 0.64em;
    margin: 2px;
    background-color: #f6efcc;
    color: #6d643c;
}
div.pagination span.disabled {
    display:none;
}