﻿<%@ Page Title="Pets Best Friends" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Halloffame.aspx.cs" Inherits="CourseworkSystemB.Halloffame" %>


    <asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h1>Hall of Fame</h1>
        
    </div>
        <div class="row">
            <asp:Table ID="FameTable" runat="server" 
                 GridLines="Horizontal" Width="407px" >
            <asp:TableRow runat="server">
                <asp:TableCell runat="server"  ForeColor="Black">ID</asp:TableCell>
                <asp:TableCell runat="server"  ForeColor="Black">Name</asp:TableCell>
                <asp:TableCell runat="server"  ForeColor="Black">Country</asp:TableCell>                
                <asp:TableCell runat="server"  ForeColor="Black">Pet</asp:TableCell>
                <asp:TableCell runat="server"  ForeColor="Black">Donation</asp:TableCell>
            </asp:TableRow>

            </asp:Table>
        </div>
    </asp:Content>
